<a href="https://colab.research.google.com/github/RukiyatDiekola/RukiyatDiekola/blob/main/Training2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a=0
if a>0:
  print("The number is positive")
elif a<0:
  print("The number is negative")
else:
    print("The number is equal to zero")

The number is equal to zero

In [7]:
i=10

for i in range(0,20):
  print("The iteration is {}".format(i))
print("The end")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The iteration is 6
The iteration is 7
The iteration is 8
The iteration is 9
The iteration is 10
The iteration is 11
The iteration is 12
The iteration is 13
The iteration is 14
The iteration is 15
The iteration is 16
The iteration is 17
The iteration is 18
The iteration is 19
The end

In [10]:
a=1
while a<6:
  print(a)
  a=1+a
print("The end!")

1
2
3
4
5
The end!

In [18]:
targetv =5
iterate =2
while iterate <targetv:
  print("The iteration no. is {}, which is less than the target value {}".format(iterate, targetv))
  iterate=iterate+1
print("The end!")

The iteration no. is 2, which is less than the target value 5
The iteration no. is 3, which is less than the target value 5
The iteration no. is 4, which is less than the target value 5
The end!

In [20]:
for i in range(1,6): #outer loop
  for j in range(1,11):#inner loop
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [21]:
colours = ["blue", "red", "yellow"]
cars = ["BMW", "Mercedes", "Range"]
for colour in colours:
  for car in cars:
    print(colour, car)

blue BMW
blue Mercedes
blue Range
red BMW
red Mercedes
red Range
yellow BMW
yellow Mercedes
yellow Range

In [23]:
targetv=5
iterate=0
while iterate<targetv:
  print("Iteration number is {}, which is less than the target value".format(iterate,targetv))
  if iterate==3:
    print("condition met")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value
Iteration number is 1, which is less than the target value
Iteration number is 2, which is less than the target value
Iteration number is 3, which is less than the target value
condition met

In [25]:
targetv=5
iterate=0
while iterate<targetv:
  iterate=iterate+1
  if iterate==2:
    continue
  print("iteration no is {},which is less than the target value{}".format(iterate,targetv))
print("ITERATION NUMBER HAS BEEN SKIPPED!")

iteration no is 1,which is less than the target value5
iteration no is 3,which is less than the target value5
iteration no is 4,which is less than the target value5
iteration no is 5,which is less than the target value5
ITERATION NUMBER HAS BEEN SKIPPED!

In [35]:
names =["Mercy", "Anis", "Chris", "Isreal"]
for name in names:
  if name =="Chris":
    continue
  print(name)

Mercy
Anis
Isreal

In [36]:
mylist =["Micheal", "Sean", "Adam"]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam']

In [37]:
print(type(mylist))

<class 'list'>

In [38]:
print(len(mylist))

3

In [39]:
if "Sean" in mylist:
  print("Yes the element is present")

Yes the element is present

In [40]:
#to add at the front of a list
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'John', 'Sean', 'Adam']

In [41]:
#to add the end of a list
mylist.append("John")
print(mylist)

['Mercy', 'John', 'Sean', 'Adam', 'John']